<%= render "shared/nav" %>
<div class="bg-dark py-5">
  <div class="container py-5 px-5">
    <div class="row gx-5 py-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2">My Projects</h1>
                <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-2"><%= render "sidebar" %></div>
    <div class="col-10">
      <div class="row">
        <%= render partial: "shared/project_item", collection: @projects %>
      </div>
    </div>
  </div>
</div>
