// Place all the styles related to the Presentation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tag-profiles {
  font-size: 17px;
  padding: 10px;
}

.social-div{
	position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
	padding-right: 30px;
    padding-bottom: 30px;
}

.social-div i{
	font-size: 25px;
}

.social-div a, .social-div a:hover, .social-div a:focus, .social-div a:active {
	text-decoration: none;
	color: inherit;
}

#new_contact .form-control {
	border: none;
	// border: 1px solid #ccc;
	background: #f3f3f3;
	&:active, &:focus {
		outline: none;
		box-shadow: none;
		border-color: #000;
		background: #f3f3f3;
	}
}
