:root {
  --surface-color: #fff;
  --curve: 40;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.custom-card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.image-hover {
  position: relative;
}

.card__image {
  width: 100%;
  display: block;
  transition: 0.5s ease;
}

.card__image-buttons {
  top: 28%;
  left: 50%;
  transition: 0.8s ease-in;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card__image-buttons .resume-button {
  padding: 2px 6px 2px 6px;
  transition: background-color 0.4s;
  margin-right: 8%;
  margin-bottom: 12%;
}

.card__image-buttons .resume-button:hover {
  background-color: #7b838a;
}

.card__image-buttons .resume-button i {
  color: #141414;
  transition: color 0.4s;
}

.card__image-buttons .resume-button:hover i {
  color: var(--surface-color);
}

.image-hover:hover .card__image {
  opacity: 0.3;
}

.image-hover:hover .card__image-buttons {
  opacity: 1;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.description-hover:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  padding-left: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.description-hover:hover .card__header {
  transform: translateY(0);
}

.demo-btn {
  opacity: 0;
  transition: 0.8s ease-in;
}

.description-hover:hover .demo-btn {
  opacity: 1;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #141414;
}

.card__tagline {
  display: block;
  font-family: "MockFlowFont";
  font-size: 0.8em;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #7b838a;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.projects-not-found {
  text-align: center;
  font-size: 1.5em;
  margin: 2em;
}

.projects-not-found i {
  font-size: 10em;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #7b838a;
}

// #project-article {
//   border-left: 0.5px solid rgb(231, 231, 231);
//   border-right: 0.5px solid rgb(231, 231, 231);
// }

.project-show .description{
  color: #a0a5a8;
}

.logo-white {
  filter: invert(100%) sepia(1%) saturate(178%) hue-rotate(344deg) brightness(117%) contrast(100%);
}

.logo-dark{
  filter: invert(0%) sepia(84%) saturate(7437%) hue-rotate(328deg) brightness(114%) contrast(89%);
}